

a {
    background-color: transparent;
    color: #fff;
    font-family: Inter, sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.align-left {
    flex-flow: row;
    justify-content: flex-start;
    padding-left: 0;
    display: flex;
}

.align-right {
    text-align: right;
}

body {
    margin: 0;
    min-height: 100vh;
    color: #333;
    background-color: #1b1b1b;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.clickHereButton {
    display: inline-block;
    background-color: #1880ee;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.clickHereButton:hover {
    background-color: #0056b3;
}

.contactSection {
    display: flex;
    align-items: center;
    padding: 10px;
}

.container {
    width: 100%;
    max-width: 1280px;
    perspective: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    padding-left: 2vw;
    padding-right: 2vw;
    position: relative
}

.courseList {
    padding: 15px 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #ffffffad;
    border-radius: 8px;
    list-style-type: none;
}

.courseText {
    letter-spacing: 0;
    color: #ffffffad;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.courseDescription {
    display: none;
}

.courseContainer {
    padding-left: 2vw;
    padding-right: 2vw;
}

.courseText li {
    max-width: 600px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    align-items: center;
    text-align: center;
}

.display-heading-2 {
    color: #fff;
    letter-spacing: 0;
    margin-bottom: 20px;
    font-family: Inter, sans-serif;
    font-size: 53px;
    font-weight: 700;
    line-height: 110%
}

.display-heading-4 {
    color: #fff;
    letter-spacing: -.01em;
    margin-bottom: 20px;
    font-family: Inter, sans-serif;
    font-size: 45px;
    font-weight: 600;
    line-height: 120%
}

.display-inline {
    font-size: 24px;
    font-weight: 500;
    display: inline;
}

.display-inline.text-gray-4 {
    color: rgba(255, 255, 255, .7);
    letter-spacing: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 130%
}

.display-inline.text-gray-4.smaller {
    color: rgba(255, 255, 255, .8);
    font-size: 20px;
    font-weight: 400
}

.div-block {
    justify-content: flex-end;
    align-self: auto;
    align-items: center;
    display: flex;
}

.experienceImage {
    width: 50%; 
    height: auto;
    max-width: 50%;
    padding-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.grid-thirds {
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.grid-thirds.space-bottom {
    grid-template-columns: 1fr 1fr 1fr
}

.grid-thirds.space-bottom.modified-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr
}

h1 {
    color: #fff;
    letter-spacing: -.02em;
    margin-top: 20px;
    margin-bottom: 24px;
    padding-right: 20px;
    font-family: Inter, sans-serif;
    font-size: 45px;
    font-weight: 600;
    line-height: 44px
}

h2 {
    color: #fff;
    letter-spacing: -.02em;
    margin-top: 0;
    margin-bottom: 24px;
    padding: 20px;
    font-family: Inter, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}

h3 {
    color: #fff;
    letter-spacing: -.01em;
    margin-top: 0;
    margin-bottom: 24px;
    font-family: Inter, sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px
}

h4 {
    color: #fff;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 16px;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px
}

h5 {
    color: #fff;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 12px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px
}

h6 {
    color: #fff;
    letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 12px;
    font-family: Inter, sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 150%
}

.italic {
    font-style: italic;
}

p {
    margin-bottom: 24px
}

.hero-1-grid {
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    grid-template-rows: auto;
    grid-template-columns: .75fr .75fr;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.hero-content {
    direction: ltr;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between
}

.icon-links {
    font-size: 2.5em;
    color: rgb(255, 255, 255);
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0;
}

.githubLink {
	letter-spacing: 0;
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-text-gradient {
    background-image: linear-gradient(to right, #6e12f7, #e912c5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text
}

.menu-button {
    display: none;
}

.my-image {
    width: 500px;
    height: auto;
}

.panel {
    background-color: rgba(255, 255, 255, .05);
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
}

.w-nav-button {
    float: right;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 18px;
    font-size: 24px;
    display: none;
    position: relative
}

.padding {
    padding: 20px;
}

.rounded-image {
    border-radius: 5px
}

.row-inline {
    display: flex
}

.section {
    padding: 20px;
    border-radius: 8px;
}

.section h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.section h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.section.hero-section {
    margin-top: 8vh
}

.show-description {
    display: block;
    padding: 10px;
    font-size: 0.8em;
    background-color: #0c0c3600;
}

.space-around {
    margin: 24px
}

.space-bottom {
    margin-bottom: 24px
}

.space-left {
    margin-left: 24px
}

strong {
    font-weight: 700
}

.text-lead {
    letter-spacing: 0;
    color: #ffffffad;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.text-lead.display-inline {
    list-style-position: inside;
}

.text-lead.display-inline li {
    padding-left: 20px;
}

.text-section {
    margin-bottom: 10px;
}

.text-span-11 {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #4584b6, #ffde57);
    -webkit-background-clip: text;
    background-clip: text
}

.w-layout-grid {
    grid-row-gap: 2vw;
    grid-column-gap: 1vw;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.w-nav-link {
    vertical-align: top;
    color: #222;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative
}

.w-nav-menu {
    color: #fff;
    float: right;
    position: relative
}
